{%extends 'base.html'%}
{%block body_block%}
<div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card">
                <h5 class="card-header">TodoDetail</h5>
                <div class="card-body">
                    <h5 class="card-title">{{todo.task_name}}</h5>
                    <p class="card-text">completed status:{{todo.completed}}</p>
                    <p class="card-text">completed status:{{todo.created_date}}</p>
                    <p class="card-text">completed status:{{todo.user}}</p>


                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
{%endblock%}